<template>
  <div class="privacy">
    <h1>{{ title }} Privacy Policy</h1>
    <p>
      {{ title }} is a tool for leveraging human computation for user testing in
      open source communities.
    </p>
    <p v-if="title !== 'OPEN-CUTS'">
      It is built using the free/libre
      <a href="https://www.open-cuts.org">OPEN-CUTS</a> software.
    </p>

    <h2>Information collected</h2>
    <p>
      When you participate in the {{ title }} research project the following
      types of information are collected.
    </p>

    <h3>Information you provide us</h3>
    <p>
      Some information is required to create an account on our Services, such as
      your username, email address, and password. This is the only information
      you have to provide to create an account with us. You may also choose to
      provide other types of information voluntarily and remove this information
      at any time.
    </p>

    <h3>Information we receive from your use of our services</h3>

    <h4>Usage Information</h4>
    <p>
      When you access or use {{ title }}, we do not collect usage data beyond
      what is technically required to provide the service. We do our best to
      keep this process as transparent and intuitive as possible.
    </p>

    <h4>Created Content</h4>
    <p>
      We save the content you compose using the system's services, such as
      tests, runs, systems, etc. Runs are saved along with the time and date of
      when they were reported and connected to your account, if you are logged
      in.
    </p>

    <h2>How the Information is used</h2>
    <p>We use the information we collect for the following purposes.</p>

    <h3>Research</h3>
    <p>
      All information collected serves research and education purposes. Using
      the information described above, we try to find out, how people contribute
      to community-based open-source projects and how human computation can be
      used to help development teams work more efficiently. Information relevant
      to research is pseudomized without your personal information (such as
      name, email address, IP address) and may be published in scientific
      publications; be shared with other researchers and in some cases be
      downloaded from our web page, services or software by the general public.
      In those cases, the information is often aggregated, brought together with
      other information from the system, or or analyzed in other ways using
      statistics. Occasionally, the e-mail adress is used to send out surveys.
    </p>

    <h3>Quality Assurance</h3>
    <p>
      Information is used for quality assurance purposes in the tested systems.
      Created content (eg. runs) may be published.
    </p>

    <h3>Provide, maintain and improve the Service</h3>
    <p>
      Using the information we collect, we are able to deliver the Services to
      you and honor our Terms of Service. We use the information we collect to
      improve the Services and to develop new ones. For example, we use the
      information to troubleshoot and fix errors.
    </p>

    <h2>How your Information is shared</h2>
    <p>
      We do not share your sensitive personal information such as your e-mail
      address publicly. Your created content will be shared publicly together
      with your chosen username. Logs attached to your runs will only be visible
      to moderators.
    </p>

    <h2>Rights to access and control your personal Information</h2>
    <p>
      You have the right to request insight into or the removal of all personal
      information saved about you. Please contact
      <HideEmail :email="email" /> with your username and a proof of identity
      for inquiries about those rights. If you delete your account, all personal
      information about you will be deleted automatically, but your created
      content (eg. runs) will be disassociated with your account and continue to
      be stored. If you wish for your created content to be deleted, you may do
      so yourself before deleting your account.
    </p>

    <h2>Information Security</h2>
    <p>
      We work hard to keep your data safe. We use a combination of technical,
      administrative, and physical controls to ensure the security of your data.
      This includes using
      <a
        href="https://en.wikipedia.org/wiki/Transport_Layer_Security"
        rel="noreferrer noopener"
        target="_blank"
      >
        Transport Layer Security ("TLS")
      </a>
      to encrypt our Services. Your password is stored as a
      <a
        href="https://en.wikipedia.org/wiki/Salt_(cryptography)"
        rel="noreferrer noopener"
        target="_blank"
        >salted hash</a
      >
      and will never be stored or displayed in clear text. No method of
      transmitting or storing data is completely secure, however. If you have a
      security- or privacy-related concern, please contact
      <HideEmail :email="email" /> or
      <a
        href="https://gitlab.com/open-cuts/open-cuts/issues/new"
        rel="noreferrer noopener"
        target="_blank"
        >file a confidential issue</a
      >.
    </p>

    <p>
      This privacy policy was adapted from
      <a
        href="https://backstage2.pms.ifi.lmu.de:8080/privacy.html"
        rel="noreferrer noopener"
        target="_blank"
        >this one</a
      >
      used in the
      <a
        href="http://backstage.pms.ifi.lmu.de/"
        rel="noreferrer noopener"
        target="_blank"
        >Backstage</a
      >
      e-learning research project at
      <a
        href="https://www.en.pms.ifi.lmu.de/"
        rel="noreferrer noopener"
        target="_blank"
        >LMU's chair of Programming and Modelling Languages</a
      >
      with the kind permission of the authors.
    </p>
  </div>
</template>

<script>
import HideEmail from "@/components/HideEmail.vue";

export default {
  components: {
    HideEmail
  },
  data() {
    return {
      title: process.env.VUE_APP_TITLE || "OPEN-CUTS",
      author: process.env.VUE_APP_AUTHOR,
      email: process.env.VUE_APP_EMAIL || "nomail@whatever.nope"
    };
  }
};
</script>
