<template>
  <div class="system">
    <Loading :loading="this.$apollo.queries.system.loading" />

    <b-row v-if="!this.$apollo.queries.system.loading">
      <b-col md="8">
        <p class="caption">System under test</p>
        <h1>{{ system.name }}</h1>
        <SystemControls :system="system" style="margin: 1rem 0" />

        <div>
          <h2>Builds</h2>
          <p v-if="!system.channels">
            No {{ system.name }} builds are available for testing yet...
          </p>
          <div
            v-else
            v-for="{ channel, builds } in system.channels"
            v-bind:key="channel"
          >
            <h3 v-if="system.channels.length > 1">{{ channel }}</h3>
            <b-table
              :items="builds"
              :fields="[
                { key: 'tag', sortable: true },
                { key: 'date', sortable: true },
                { key: 'status', sortable: true }
              ]"
              sort-by="date"
              :sort-desc="true"
              selectable
              select-mode="single"
              class="mt-3"
              outlined
              striped
              hover
              @row-selected="buildSelected"
            >
              <template v-slot:cell(tag)="data">
                <router-link :to="`/build/${data.item.id}`">
                  {{ data.value }}
                </router-link>
              </template>
              <template v-slot:cell(date)="data">
                {{ new Date(Number(data.item.date)).toLocaleString() }}
              </template>
              <template v-slot:cell(status)="data">
                <Status :status="data.item.status" />
              </template>
            </b-table>
          </div>
        </div>

        <div>
          <h2>Tests</h2>
          <p v-if="!system.groups">
            There are no tests defined for {{ system.name }} yet...
          </p>
          <div
            v-else
            v-for="{ group, tests } in system.groups"
            v-bind:key="group"
          >
            <h3 v-if="system.groups.length > 1">{{ group }}</h3>
            <b-table
              v-show="tests && tests.length"
              :items="tests"
              :fields="[
                { key: 'name', sortable: true },
                { key: 'description', sortable: true },
                { key: 'weight', sortable: true }
              ]"
              sort-by="weight"
              :sort-desc="true"
              selectable
              select-mode="single"
              class="mt-3"
              outlined
              striped
              hover
              @row-selected="testSelected"
            >
              <template v-slot:cell(name)="data">
                <router-link :to="`/test/${data.item.id}`">
                  {{ data.value }}
                </router-link>
              </template>
            </b-table>
          </div>
        </div>
      </b-col>

      <SystemSidebar md="4" :system="system" />
    </b-row>
  </div>
</template>

<script>
import Status from "@/components/Status.vue";
import Loading from "@/components/Loading.vue";
import SystemControls from "@/components/SystemControls.vue";
import SystemSidebar from "@/components/SystemSidebar.vue";
import gql from "graphql-tag";

export default {
  name: "System",
  data() {
    return {
      system: {
        id: this.$route.params.id,
        groups: [],
        channels: []
      }
    };
  },
  components: {
    Status,
    Loading,
    SystemControls,
    SystemSidebar
  },
  apollo: {
    system: {
      query: gql`
        query system($systemId: ID!) {
          system(id: $systemId) {
            id
            name
            description
            image
            logLink
            buildDiscovery {
              engine
              args
            }
            channels {
              channel
              builds {
                id
                tag
                date
                status {
                  pass
                  wonky
                  fail
                  inconclusive
                }
              }
            }
            groups {
              group
              tests {
                id
                name
                description
                weight
              }
            }
            combinationFilter
            properties {
              id
              name
              description
              values
            }
          }
        }
      `,
      variables() {
        return {
          systemId: this.$route.params.id
        };
      },
      error() {
        this.$router.push({ path: `/dashboard/` });
      }
    }
  },
  methods: {
    testSelected(items) {
      this.$router.push({ path: `/test/${items[0].id}` });
    },
    buildSelected(items) {
      this.$router.push({ path: `/build/${items[0].id}` });
    }
  }
};
</script>
