<template>
  <div class="test">
    <b-row>
      <b-col md="8">
        <Loading :loading="this.$apollo.queries.test.loading" />

        <div v-if="!this.$apollo.queries.test.loading">
          <router-link class="caption" :to="`/system/${test.system.id}`">
            Test of {{ test.system.name }}
          </router-link>
          <h1>{{ test.name }} (Weight: {{ test.weight }})</h1>
          <TestControls :test="test" />
          <p>{{ test.description }}</p>
          <p v-show="test.group && test.group !== 'default'">
            Group: {{ test.group }}
          </p>
          <h2 v-if="test.steps">Steps</h2>
          <p v-if="test.steps">{{ test.steps }}</p>

          <h2>Runs</h2>
          <p>
            There have been {{ test.runs.length || "no" }} runs reported for
            this test
          </p>
          <b-table
            v-show="test.runs && test.runs.length"
            :items="test.runs"
            :fields="['date', 'build', 'result']"
            selectable
            select-mode="single"
            class="mt-3"
            outlined
            striped
            hover
            @row-selected="runSelected"
          >
            <template v-slot:cell(build)="data">
              <router-link :to="`/build/${data.value.id}`">
                {{ data.value.tag }}
              </router-link>
            </template>

            <template v-slot:cell(date)="data">
              <router-link :to="`/run/${data.item.id}`">
                {{ new Date(Number(data.value)).toLocaleString() }}
              </router-link>
            </template>

            <template v-slot:cell(result)="data">
              <RunResult :result="data.value" />
            </template>
          </b-table>
        </div>
      </b-col>

      <SystemSidebar md="4" :system="test.system" />
    </b-row>
  </div>
</template>

<script>
import Loading from "@/components/Loading.vue";
import TestControls from "@/components/TestControls.vue";
import SystemSidebar from "@/components/SystemSidebar.vue";
import RunResult from "@/components/RunResult.vue";
import gql from "graphql-tag";

export default {
  name: "Test",
  data() {
    return {
      test: {
        id: this.$route.params.id,
        system: { id: "", tests: [], builds: [] },
        runs: []
      }
    };
  },
  components: {
    Loading,
    TestControls,
    SystemSidebar,
    RunResult
  },
  apollo: {
    test: {
      query: gql`
        query test($testId: ID!) {
          test(id: $testId) {
            id
            name
            description
            group
            steps
            weight
            runs {
              id
              date
              result
              build {
                id
                tag
              }
            }
            system {
              id
              name
              description
              image
              tests {
                id
                name
                description
              }
              builds {
                id
                tag
              }
              combinationFilter
              properties {
                id
                name
                description
                values
              }
            }
          }
        }
      `,
      variables() {
        return {
          testId: this.$route.params.id
        };
      },
      error() {
        this.$router.push({ path: `/dashboard/` });
      }
    }
  },
  methods: {
    runSelected(items) {
      this.$router.push({ path: `/run/${items[0].id}` });
    }
  }
};
</script>
