<template>
  <b-row class="user">
    <b-col md="8">
      <Loading :loading="this.$apollo.queries.user.loading" />

      <div v-if="!this.$apollo.queries.user.loading">
        <p class="caption">{{ user.groups.join(", ") }}</p>
        <h1>{{ user.name }}</h1>
        <UserControls :user="user" /><br />
        ID: <nobr class="token">{{ user.id }}</nobr
        ><br />
        E-Mail: {{ user.email }}<br />
        Joined: {{ new Date(Number(user.joined)).toLocaleString() }}
      </div>

      <h2>Runs</h2>
      <p>{{ user.name }} has reported {{ user.activity || "no" }} runs</p>
      <b-table
        v-if="user.runs && user.runs.length"
        :items="user.runs"
        :fields="[
          { key: 'date', sortable: true },
          { key: 'system', sortable: true },
          { key: 'build', sortable: true },
          { key: 'test', sortable: true }
        ]"
        sort-by="date"
        :sort-desc="true"
        selectable
        select-mode="single"
        class="mt-3"
        outlined
        striped
        @row-selected="runSelected"
      >
        <template v-slot:cell(date)="data">
          <router-link :to="`/run/${data.item.id}`">
            {{ new Date(Number(data.value)).toLocaleString() }}
          </router-link>
        </template>
        <template v-slot:cell(system)="data">
          <router-link :to="`/system/${data.value.id}`">
            {{ data.value.name }}
          </router-link>
        </template>
        <template v-slot:cell(build)="data">
          <router-link :to="`/build/${data.value.id}`">
            {{ data.value.tag }}
          </router-link>
        </template>
        <template v-slot:cell(test)="data">
          <router-link :to="`/test/${data.value.id}`">
            {{ data.value.name }}
          </router-link>
        </template>
      </b-table>
    </b-col>
  </b-row>
</template>

<script>
import Loading from "@/components/Loading.vue";
import UserControls from "@/components/UserControls.vue";
import gql from "graphql-tag";

export default {
  name: "User",
  data() {
    return {
      user: {
        id: this.$route.params.id
      }
    };
  },
  components: {
    Loading,
    UserControls
  },
  apollo: {
    user: {
      query: gql`
        query user($userId: ID!) {
          user(id: $userId) {
            id
            name
            email
            joined
            token
            groups
            activity
            runs {
              id
              date
              system {
                id
                name
              }
              build {
                id
                tag
              }
              test {
                id
                name
              }
            }
          }
        }
      `,
      variables() {
        return {
          userId: this.$route.params.id
        };
      },
      error() {
        this.$router.push({ path: `/dashboard/` });
      }
    }
  },
  methods: {
    runSelected(items) {
      this.$router.push({ path: `/run/${items[0].id}` }).catch(() => {});
    }
  }
};
</script>
