<template>
  <div class="buildControls">
    <b-button-group>
      <DeleteBuild v-if="me && me.groups.includes('MOD')" :build="build" />
      <CreateRun :system="build.system" :selectedBuild="build.id" />
    </b-button-group>
  </div>
</template>

<script>
import DeleteBuild from "@/components/CRUDE/DeleteBuild.vue";
import CreateRun from "@/components/CRUDE/CreateRun.vue";
import gql from "graphql-tag";

export default {
  name: "BuildControls",
  components: {
    DeleteBuild,
    CreateRun
  },
  data() {
    return {
      me: {
        groups: []
      }
    };
  },
  apollo: {
    me: {
      query: gql`
        query {
          me {
            id
            name
            groups
            email
            joined
          }
        }
      `
    }
  },
  props: {
    build: Object
  }
};
</script>
