<template>
  <div>
    <b-icon-plus-circle-fill
      variant="success"
      v-if="result === 'PASS'"
      v-b-tooltip.hover
      :title="`Test passed`"
    />
    <b-icon-exclamation-circle-fill
      variant="warning"
      v-if="result === 'WONKY'"
      v-b-tooltip.hover
      :title="`Test passed with workarounds`"
    />
    <b-icon-dash-circle-fill
      variant="danger"
      v-if="result === 'FAIL'"
      v-b-tooltip.hover
      :title="`Test failed`"
    />
    {{ result }}
  </div>
</template>

<script>
export default {
  name: "RunResult",
  props: {
    result: {
      type: String
    }
  }
};
</script>
