<template>
  <b-progress
    class="mt-1"
    :max="status.pass + status.wonky + status.fail + status.inconclusive"
  >
    <b-progress-bar
      v-b-tooltip.hover
      :title="`PASS: ${(status.pass * 100).toFixed(2)} %`"
      :value="status.pass"
      variant="success"
    />
    <b-progress-bar
      v-b-tooltip.hover
      :title="`WONKY: ${(status.wonky * 100).toFixed(2)} %`"
      :value="status.wonky"
      variant="warning"
    />
    <b-progress-bar
      v-b-tooltip.hover
      :title="`FAIL: ${(status.fail * 100).toFixed(2)} %`"
      :value="status.fail"
      variant="danger"
    />
    <b-progress-bar
      v-b-tooltip.hover
      :title="`INCONCLUSIVE: ${(status.inconclusive * 100).toFixed(2)} %`"
      :value="status.inconclusive"
      variant="secondary"
    />
  </b-progress>
</template>

<script>
export default {
  name: "Status",
  props: {
    status: {
      type: Object,
      default() {
        return {
          pass: 0,
          wonky: 0,
          fail: 0,
          inconclusive: 1
        };
      }
    }
  }
};
</script>
