<template>
  <b-col :md="md || '4'" v-if="system">
    <router-link :to="`/system/${system.id}`">
      <b-img
        fluid-grow
        :src="system.image"
        v-show="system.image"
        style="margin-bottom: 1rem"
      />
    </router-link>

    <p :v-show="system.name && system.description">
      Testing
      <router-link :to="`/system/${system.id}`"> {{ system.name }} </router-link
      >:
      {{ system.description }}
    </p>

    <div v-show="system.properties && system.properties.length">
      <h2>Properties</h2>
      <SetCombinationFilter :system="system" />
      <p>Properties, eg. package types.</p>
      <b-table
        :items="system.properties"
        :fields="['name', 'description', { key: 'more', label: '' }]"
        class="mt-3"
        outlined
        striped
      >
        <template v-slot:cell(more)="row">
          <b-icon-plus-circle
            v-if="row.item.values[0]"
            v-show="!row.detailsShowing"
            @click="row.toggleDetails"
          />
          <b-icon-x-circle
            v-if="row.item.values[0]"
            v-show="row.detailsShowing"
            @click="row.toggleDetails"
          />
          <DeleteProperty :property="row.item" />
        </template>
        <template v-slot:row-details="row">
          <b-card v-if="row.item.values[0]">
            <b>Values: </b>{{ row.item.values.join(", ") }}
          </b-card>
        </template>
      </b-table>
    </div>
  </b-col>
</template>

<script>
import DeleteProperty from "@/components/CRUDE/DeleteProperty.vue";
import SetCombinationFilter from "@/components/SetCombinationFilter.vue";

export default {
  name: "SystemSidebar",
  components: {
    DeleteProperty,
    SetCombinationFilter
  },
  props: {
    system: Object,
    md: String
  }
};
</script>
