<template>
  <div>
    <b-card-header header-tag="header" class="p-1" role="tab">
      <b-button block variant="info" @click="toggle">
        {{ label }}
      </b-button>
    </b-card-header>
    <b-collapse :visible="visible" role="tabpanel">
      <LineChart :chartData="tensorSlice" v-if="tensorSlice" ref="chart" />
      <Loading v-else />
    </b-collapse>
  </div>
</template>

<script>
import gql from "graphql-tag";
import LineChart from "@/components/charts/Line.vue";
import Loading from "@/components/Loading.vue";

export default {
  name: "TensorSlice",
  props: {
    label: String,
    test: String,
    build: String,
    combination: Array
  },
  components: {
    LineChart,
    Loading
  },
  apollo: {
    tensorSlice: {
      skip: true,
      query: gql`
        query tensorSlice(
          $queryBuildId: ID!
          $queryTestId: ID!
          $queryCombination: [CombinationInput]
        ) {
          tensorSlice(
            buildId: $queryBuildId
            testId: $queryTestId
            combination: $queryCombination
          ) {
            labels
            datasets {
              label
              backgroundColor
              data
            }
          }
        }
      `,
      variables() {
        return {
          queryBuildId: this.build,
          queryTestId: this.test,
          queryCombination: this.combination.map(({ variable, value }) => ({
            variable,
            value
          }))
        };
      }
    }
  },
  data() {
    return {
      visible: false
    };
  },
  methods: {
    toggle() {
      this.visible = !this.visible;
      if (!this.tensorSlice) this.$apollo.queries.tensorSlice.start();
    }
  }
};
</script>
