<template>
  <div class="testControls">
    <b-button-group>
      <UpdateTest v-if="me && me.groups.includes('MOD')" :test="test" />
      <DeleteTest v-if="me && me.groups.includes('MOD')" :test="test" />
      <CreateRun :system="test.system" :selectedTest="test.id" />
    </b-button-group>
  </div>
</template>

<script>
import UpdateTest from "@/components/CRUDE/UpdateTest.vue";
import DeleteTest from "@/components/CRUDE/DeleteTest.vue";
import CreateRun from "@/components/CRUDE/CreateRun.vue";
import gql from "graphql-tag";

export default {
  name: "TestControls",
  components: {
    UpdateTest,
    DeleteTest,
    CreateRun
  },
  data() {
    return {
      me: {
        groups: []
      }
    };
  },
  apollo: {
    me: {
      query: gql`
        query {
          me {
            id
            name
            groups
            email
            joined
          }
        }
      `
    }
  },
  props: {
    test: Object
  }
};
</script>
