<template>
  <div class="runControls">
    <b-button-group>
      <DeleteUser
        v-if="me && (me.groups.includes('ADMIN') || me.id === user.id)"
        :user="user"
      />
      <SetUserGroups v-if="me && me.groups.includes('ADMIN')" :user="user" />
    </b-button-group>
  </div>
</template>

<script>
import DeleteUser from "@/components/CRUDE/DeleteUser.vue";
import SetUserGroups from "@/components/SetUserGroups.vue";
import gql from "graphql-tag";

export default {
  name: "UserControls",
  components: {
    DeleteUser,
    SetUserGroups
  },
  data() {
    return {
      me: {
        groups: []
      }
    };
  },
  apollo: {
    me: {
      query: gql`
        query {
          me {
            id
            name
            groups
            email
            joined
          }
        }
      `
    }
  },
  props: {
    user: Object
  }
};
</script>
