<template>
  <b-button
    v-b-modal.delete-system-modal
    variant="danger"
    v-show="me && me.groups.includes('MOD')"
  >
    <b-icon-trash />
    Delete

    <b-modal
      id="delete-system-modal"
      :title="`Delete ${this.system.name}`"
      @ok="submit"
      ok-variant="danger"
    >
      <p>
        Are you sure you want to permanently delete <b>{{ system.name }}</b
        >?
      </p>
      <p>This <b>can not</b> be undone!</p>
    </b-modal>
  </b-button>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "DeleteSystem",
  data() {
    return {
      me: {
        groups: []
      }
    };
  },
  apollo: {
    me: {
      query: gql`
        query {
          me {
            id
            name
            groups
            email
            joined
          }
        }
      `
    }
  },
  props: {
    system: Object
  },
  methods: {
    submit(e) {
      e.preventDefault();
      this.$apollo
        .mutate({
          mutation: gql`
            mutation ($id: ID!) {
              deleteSystem(id: $id) {
                id
              }
            }
          `,
          variables: {
            id: this.system.id
          }
        })
        .finally(() => {
          window.location.href = "/";
        });
    }
  }
};
</script>
